@import url("https://fonts.googleapis.com/css?family=Roboto|Arvo");

#container {
  width: 100%;
  margin: 0 auto;
}

.index-main{
  margin-left: 10%;
  margin-right: 10%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-grow: 0;
  flex-basis: 100%;

  box-sizing: border-box;
}

/* adjustments for medium screens, like some tablets or landscape on a mobile */
@media (min-width: 576px) {
  .item {
    flex-basis: 50%;
  }
}

/* adjustments for medium-large screens, like some tablets */
@media (min-width: 768px) {
  .item {
    flex-basis: 33.3333333333333%;
  }
}

/* adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  #container {
    width: 992px;
    margin: 0 auto;
  }

  .item {
    flex-basis: 25%;
  }
}

body {
  background-color: #f5f5f5;
  color: #2d2c2c;
}

.data {
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;

  margin: 5px;
  padding: 10px;
  height: 250px;
  border: 1px solid #00000012;
  border-radius: 10px;
  overflow-y: scroll;
}

.category {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  vertical-align: middle;
}

.desc {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Nunito-Sans", sans-serif;
}

.year {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  vertical-align: middle;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

.categoryImg {
  max-height: 20px;
  max-width: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.dateImg {
  max-height: 20px;
  max-width: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.infoImg {
  max-height: 20px;
  max-width: 20px;
  margin-right: 8px;
}

.flagImg {
  max-height: 20px;
  max-width: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

#nobel {
  max-height: 100px;
  max-width: 100px;
  margin-right: 8px;
  vertical-align: middle;
}

.item.meta {
  flex-basis: 50%;
}

#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #993399;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 40%;
  margin-top: 15%;
}

#miniLoader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #993399;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loadingText {
  text-align: justify;
  text-align-last: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-family: "Arvo";
  text-align: center;
  font-weight: bold;
}

#data-filter {
  font-family: "Arvo";
  margin-right: 10px;
  margin-bottom: 10px;
}

#data-sort {
  font-family: "Arvo";
  margin-right: 2px;
  margin-bottom: 10px;
}

label {
  font-family: "Arvo";
  margin-right: 5px;
  margin-bottom: 10px;
}

#order {
  border: none;
  background: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 23%);
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
  cursor: pointer;
  font-family: "Arvo";
  transition: all 0.25s ease-in-out;
  margin-right: 20px;
}
#order:focus,
.btn:hover {
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
  background: hsl(0, 0%, 88%);
}
